<div id="footer">
    <span class="footer-links">Home</span>
    <span class="footer-links">For parents</span>
    <span class="footer-links">For teachers</span>
    <span class="footer-links">Tip Sheets</span>
    <span class="footer-links">Contact us</span>
</div>

