<div id="header">
    <a href="/" class="btn btn-default">Home</a>
    <?php echo $this->Html->link(
            'Sessions',
            array('controller' => 'courses', 'action' => 'index'),
            array('class' => 'btn btn-default')
    ); ?>
</div>
