/* corect bootstrap */
legend {
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: inherit;
    float: left;
    border: none;
}
.radio input[type="radio"] {
    position: relative;
    margin-left: 20px;
}
.radio label {
    margin-left: 10px;
    padding: 0 0 3px 0;
}

.table th, .td-horisontal-center {
    text-align: center;
}

/* END correct bootstrap */

#header {
    padding: 20px;
    background: #7EC27D;
}

#content {
    padding: 20px;
}

#footer {
    text-align: center;
}

.footer-links {
    padding: 0 10px;
    border-left: 1px solid black;
}
#footer .footer-links:first-child {
    border-left: none;
}

.width-auto {width: auto;}

/* forms */
.input {
    margin: 12px;
}
.input label {
    width: 177px;
}
.input.radio label {
    width: auto;
}

#StudentOnlineRegistrationForm legend {width: 177px;}

.error-message {color: #8a6d3b;}
/* END forms */