/* кастомизация бутстрапа */
.save-post {
    margin:10px 5px;
}
label {
    margin: 0 10px 10px 0;
}

.btn {
    margin: 3px;
}

.table th, .td-horisontal-center {
    text-align: center;
}

#view-session-table {
    width: auto;
}
legend {
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: inherit;
    float: left;
    border: none;
    color: inherit;
}

.input {
    margin: 12px;
}
.input label {
    width: 177px;
}
.input.radio label {
    width: auto;
}
.radio input[type="radio"] {
    position: relative;
    margin-left: 20px;
}
.radio label {
    margin-left: 10px;
    padding: 0 0 3px 0;
}
.glyphicon {font-size: 17px; }
.glyphicon-edit, .glyphicon-ok-circle {color: green;}
.glyphicon-trash, .glyphicon-remove-circle {color: red}

/* кастомизация сообщений */
#flashMessage {
    padding: 10px;
    margin: 10px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.flash_error {
    background: rgb(239, 142, 142);
}
.flash_success {
    background: rgb(142, 239, 181);
}
.flash_info {
    background: rgb(142, 205, 239);
}
#preview_img img{
    max-width: 1200px;
}

/* ошибки форм */
.error-message {
    background: none repeat scroll 0% 0% #AA1010;
    padding: 3px;
    margin-bottom: 9px;
    color: #FFF;
    display: inline-block;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

/* сообщения хелпера Auth */
#authMessage {
    padding: 3px 3px 3px 10px;
    margin-bottom: 9px;
    background: rgb(142, 205, 239);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}
 /* different */
#StudentAddForm legend {width: 177px;}
.width-auto {width: auto;}
#student-history-table .date {width: 15%;}