<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h3>:-/</h3>
        <p>Something going wrong. Most likely timed Web Session. You can pay for courses at any time.</p>
        <p>For more information contact us.</p>
    </div>
</div>

